*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 72px;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  background-color: #ebecf2;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #3c98cc;
}

.blue-text {
  color: #3c98cc;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-outline-light {
  z-index: 2;
}

nav {
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  text-transform: uppercase;
  z-index: 2;
}

nav .nav-link,
nav a,
nav i {
  color: #fff;
}

nav .nav-link:hover {
  color: #3c98cc;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .navbar-brand span {
  color: #3c98cc;
}

nav .navbar-brand:hover {
  color: #3c98cc;
}

nav .active {
  color: #3c98cc;
}

nav .reorder-three-sharp {
  padding: 10px;
}

nav .navbar-toggler {
  color: #fff;
}

.header {
  color: #fff;
}

.header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url(../img/header-mobile.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.header .hero-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 5px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.header .hero-txt h1 {
  font-size: 25px;
  margin-bottom: 5px;
  text-shadow: 3px 3px 5px #000;
  color: #fff;
  text-transform: uppercase;
}

.header .hero-txt p {
  font-size: 14px;
}

.header .icon-about-us {
  position: absolute;
  bottom: 20px;
  font-size: 30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.about-us ion-icon {
  font-size: 30px;
  margin-top: 20px;
}

.about-us .about-us-card-title {
  font-size: 18px;
  text-transform: uppercase;
}

.about-us .about-us-card-text {
  font-size: 14px;
}

.about-us .about-us-hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-us .about-us-hover:hover {
  color: #3c98cc;
}

.about-us-hero {
  position: relative;
  background-image: url(../img/middle-mobile.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #ddd;
  z-index: 0;
}

.about-us-hero ion-icon {
  font-size: 50px;
  margin-top: 20px;
}

.about-us-hero .about-us-hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.portfolio .carousel-item {
  position: relative;
  max-height: 600px;
}

.portfolio .carousel-caption {
  position: absolute;
  right: 0;
  left: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.portfolio .carousel-indicators {
  padding-bottom: 20px;
}

.prices .price-box {
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 20px 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.prices .price-box h3 {
  color: #3c98cc;
  text-transform: uppercase;
}

.prices .price-box span {
  font-weight: bold;
}

.prices .price-box ion-icon {
  font-size: 24px;
  padding: 0 2px;
}

.prices .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}

.prices .price-box price-tag {
  font-size: 30px;
  font-weight: bold;
}

.prices .price-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.prices .price-info a {
  text-decoration: none;
}

.about-us-hero-item {
  margin: 10px 0;
}

.about-us-hero-item .about-us-hero-title {
  font-size: 24px;
}

.team {
  position: relative;
  background-image: url(../img/city-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.team h2 {
  color: #ddd;
}

.team .team-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -5;
}

.team .card {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.team .card img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .card ion-icon {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team .card:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.team .card-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.team .card-text {
  text-align: center;
}

@media (min-width: 375px) {
  .header .hero-txt h1 {
    font-size: 30px;
  }
  .header .hero-txt p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .header .hero-txt h1 {
    font-size: 42px;
  }
  .header .hero-txt p {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .about-us-hero {
    background-image: url(../img/middle-desktop.jpg);
  }
  .nav {
    height: 72px;
  }
  .prices .price-info {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .header .hero-img {
    background-image: url(../img/header.jpg);
  }
}
/*# sourceMappingURL=main.css.map */